@import "header.css";

body{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    
}





*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    border: 1px solid black;
}

body{
    font-family: "Open Sans", sans-serif;
}

.main-screen{
    padding: 0px var(--horizontal-space);
}