/* header */
.screen-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--horizontal-space);
    width: 100%;
    margin: 10px 0;
}

.screen-header__title{
    font-size: 28px; 
    font-weight: 600;
    width: 30%;
    align-items: center;
}



.screen-header__icons>span{
    margin-left: 20px;
}

.friends-screen__channel-header {
    
    justify-content: flex-end;
    padding: 10px 0;
    color: rgba(0,0,0,0.5);
}

