.nav{
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    background-color: rgb(236, 235, 235);
    border-top: 2px solid #ddd;
    padding: 20px 0;
}

.nav__list{
    display: flex;
}

.nav__btn{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav__link{
    text-decoration: none;
    color:#2e363e;
    font-size: 30px;
}

.nav__btn:nth-child(2), .nav__btn:nth-child(4){
    position:relative;
}

.nav__notification{
    background-color: tomato;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
    border-radius: 50%;
    color: white;
    font-weight: bold;

    position: absolute;
    left:57%;
    top:5%;

    cursor: auto;
}

.nav__dot{
    background-color: tomato;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    position:absolute;
    right: 35%;
    top:20%;

    cursor: auto;
}


